$color-search: #878787
$color-active: #3780ca
$color-disactive: #bababa
$color-panel: #ebebeb
$color-panel-text: #6d6d6d
$color-panel-border: #d3d3d3
$color-positive: #338550
$color-negative: #bc2b2b
$color-footer: #f4f2f2

//post
$color-post-text: #343434

p
	margin: 0


%line
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 0
		left: -1.5rem
		right: -1.5rem
		height: 1px
		background: $color-panel