$color-search: #878787
$color-active: #3780ca
$color-disactive: #bababa
$color-panel: #ebebeb
$color-panel-text: #6d6d6d
$color-panel-border: #d3d3d3
$color-positive: #338550
$color-negative: #bc2b2b
$color-footer: #f4f2f2

*
	box-sizing: border-box

html
	font-size: 10px
	height: 100%

body
	position: relative
	font-size: 1.5rem
	font-family: 'Roboto', sans-serif


.container
	max-width: 1174px
	margin: 0 auto
	padding: 0 10px

ul
	margin: 0
	padding: 0
	list-style-type: none

a
	text-decoration: none
	color: white
	display: block

h1, h2, h3, h4, h5, h6
	margin: 0	

button
	background: none
	border: none
	outline: none

img
	max-width: 100%

[class^="icon-"]:before, [class*=" icon-"]:before
	margin: 0

.page
	position: relative

.positive
	color: $color-positive

.negative
	color: $color-negative

.switch
	.switch__item
		cursor: pointer
		border-bottom: 3px solid $color-disactive
		font-weight: bold
		color: $color-disactive
		font-size: 1.6rem
		text-transform: uppercase
		padding: 1.5rem
	.switch__item-active
		border-bottom: 3px solid $color-active
		color: $color-active

.slashed
	position: absolute 
	font-size: 2.9rem
	left: 50%
	color: $color-active
	font-weight: bold
	transform: translate(-50%, -50%)
	z-index: 100
	&__top
		overflow: hidden
		&-content
			white-space: nowrap
			transform: translate(2px, 45%)
	&__bottom
		overflow: hidden
		&-content
			white-space: nowrap
			transform: translate(0, -55%)

.subswitch
	display: flex
	.subswitch__item
		border: 1px solid $color-active
		border-right: none
		color: $color-active
		padding: 1rem 1.6rem
		cursor: pointer
		&:first-child
			border-radius: 4px 0 0 4px
		&:last-child
			border-radius: 0 4px 4px 0
			border-right: 1px solid $color-active
	.subswitch__item-active
		background: $color-active
		color: white

.header	
	&__bg
		background: url("../img/header-back.png") no-repeat
		background-size: 100% 100%
		position: absolute
		height: 20.5rem
		width: 100%
		z-index: -1
	.menu
		height: 138px
		display: flex
		justify-content: space-between
		align-items: center
		&__nav
			display: flex
			align-items: center	
		&__logo
			width: 18.4rem
		.navigation
			margin-left: 6.6rem
			&__list
				display: flex
			&__item
				cursor: pointer
				text-transform: uppercase
				padding: 1rem
				position: relative
				&:before
					content: ''
					position: absolute
					width: 100%
					bottom: 0
					left: 50%
					transform: translateX(-50%) scaleX(0)
					height: 2px
					background: white
					transition: .2s
				&:hover:before
					transform: translateX(-50%) scaleX(1)
		&__action
			display: flex
			justify-content: center
			align-items: center
			.search
				color: $color-search
				font-size: 2.8rem
				opacity: .6
				cursor: pointer
				transition: .2s
				&:hover
					opacity: 1
			.entry
				cursor: pointer
				padding: 0 2.8rem
				border: 1px solid $color-search
				border-radius: 4px
				text-transform: uppercase
				color: $color-search
				height: 3.8rem
				margin: 0 1.8rem
				transition: .2s
				&:hover
					background: $color-search
					color: white
			.register
				@extend .entry
				margin: 0
				border: 1px solid $color-active
				color: $color-active
				&:hover
					background: $color-active
					color: white	

.content
	padding-top: 9.2rem
	&__inner
		display: flex
		justify-content: space-between
		.main
			flex: 2
			margin-right: 30px
			.title
				&__main
					h1
						text-transform: uppercase
						font-size: 2.1rem
						color: $color-active
						padding: 3.4rem 3.8rem 
						position: relative
						&:before
							content: ''
							display: block
							position: absolute
							left: 0
							top: 0
							height: 100%
							width: 3px
							background: $color-active
				&__filter
					display: flex
					margin-top: 3.7rem				
				&__subfilter
					margin-top: 3.7rem
			.posts
				.post
					margin-top: 3.7rem					
					&__author
						&-information
							display: flex
							align-items: center
						&-name
							font-weight: bold
							color: $color-active
							font-size: 1.3rem
							margin-left: 1.6rem
							margin-right: 3.2rem
						&-date
							font-size: 1.1rem
							color: $color-disactive
					&__labels
						display: flex
						margin: 1.8rem 0
						&-item
							transition: .2s
							color: darken($color-disactive, 30%)
							&:hover
								color: $color-active
					&__preview
						height: 420px
						overflow: hidden
						position: relative
					&__title
						width: 100%
						height: 100%
						position: absolute
						left: 0
						bottom: 85px
						display: flex
						align-items: flex-end
						color: white
						font-size: 3.1rem
						font-weight: bold
						padding: 0 3.8rem
					&__image
					&__bg
						width: 100%
						height: 100%
						position: absolute
						left: 0
						top: 0
						background: black
						opacity: .58
					&__description
						padding: 1.5rem 3.8rem
						margin-top: 1.8rem
						position: relative
						display: flex
						&:before
							content: ''
							position: absolute
							left: 0
							top: 0
							bottom: 0
							width: 0.6rem
							background: black
							opacity: .14
						&:after
							content: ''
							position: absolute
							right: 0
							top: 0
							bottom: 0
							width: 0.6rem
							background: black
							opacity: .14
					&__text
						opacity: .61
						line-height: 2rem
					&__icons
						display: flex
						flex-direction: column
						justify-content: space-between
						margin-left: 5rem
					&__icon
						cursor: pointer
						display: flex
						align-items: center
						&:hover
							color: $color-active
							& > *
								opacity: 1
						i
							transition: .2s
							opacity: .4
						&-number
							transition: .2s
							opacity: .61
							font-size: 1.2rem
							margin-left: 1rem
					&__rating
						display: flex
						align-items: center
						i
							transition: .2s
							opacity: .6
							font-size: 1rem
						.icon-plus, .icon-minus
							cursor: pointer
							transition: color .2s
						.icon-plus:hover, .icon-minus:hover
							opacity: 1
						.icon-plus:hover
							color: $color-positive
						.icon-minus:hover
							color: $color-negative
						&-number
							font-size: 1.3rem
							font-weight: bold
							margin: 0 1rem
					&__action
						cursor: pointer
						margin-top: 1.8rem
						margin-left: 3.8rem
						padding: 1.2rem 2.4rem
						color: $color-active
						border: 1px solid $color-active
						border-radius: 4px
						display: block
						text-transform: uppercase
						margin-bottom: 10rem
						transition: .2s
						&:hover
							background: $color-active
							color: white
		.sidebar
			flex: 1
			.categoryes
				position: relative
				background: $color-panel
				&__list
					padding: 2rem 0
					& li:last-child .categoryes__item
						border: none
				&__item
					display: flex
					justify-content: space-between
					color: $color-panel-text
					padding: 1.6rem 3.5rem
					font-weight: bold
					text-transform: uppercase
					border-bottom: 2px solid $color-panel-border
					transition: .2s
					&-rating
						transition: .2s
					&:hover
						background: $color-active
						color: white
						.positive, .negative
							color: white
			.reading
				position: relative
				background: $color-panel
				margin-top: 8.5rem
				&__list
					padding: 2rem 0
					& li:last-child .reading__item
						border: none
				&__item
					display: flex
					flex-wrap: wrap
					padding: 2rem 3rem
					border-bottom: 2px solid $color-panel-border
				&__title
					width: 100%
					font-size: 1.9rem
					color: $color-panel-text
					font-weight: bold
				&__icon
					color: $color-active
					display: flex
					align-items: center
					margin-right: 2rem
					margin-top: 2rem
				&__number
					font-size: 1.2rem
					margin-left: 1.3rem
			.author
				position: relative
				background: $color-panel
				margin-top: 8.5rem
				&__list
					padding: 2rem 0
				&__item
					position: relative
					color: $color-positive
					display: flex
					justify-content: space-between
					align-items: center
					padding: 2.5rem 3rem
					border-bottom: 2px solid $color-panel-border
					&:before
						content: ""
						position: absolute
						left: 0
						bottom: -2px
						height: 2px
						background: $color-positive
						width: var(--rating)
				&__info
					display: flex
					& > div
						display: flex
						flex-direction: column
						justify-content: space-between
						margin-left: 10px
				&__name
					color: $color-panel-text
					font-weight: bold
				&__rating
					font-weight: bold
					font-size: 1.8rem
				&__subscribe
					display: flex
					align-items: center
				&__number
					margin-left: 1rem
					font-size: 1.2rem

.pagination
	&__arrows
		display: flex
		font-size: 1.6rem
		text-transform: uppercase
		font-weight: bold
	&__left
		margin-right: 2.5rem
	&__top
	&__top, &__left
		color: $color-disactive
		&-active
			color: $color-active
	&__list
		margin-top: 1.4rem
		display: flex
		& li:last-child .pagination__item
			border-right: 2px solid $color-active
	&__item
		display: flex
		justify-content: center
		align-items: center
		font-size: 1.6rem
		width: 3.4rem
		height: 3rem
		border: 2px solid $color-active
		border-right: none
		color: $color-active
		transition: .2s
		font-weight: bold
		i
			font-size: 1.4rem
		&:hover
			background: $color-active
			color: white	
		&-active
			background: $color-active
			color: white
			
.subfooter
	margin-top: 10rem
	position: relative
	&:before
		content: ''
		position: absolute
		top: -3rem
		left: 0
		right: 0
		height: 1px
		background: $color-panel
	&__inner
		display: flex
		position: relative		
		.watching
			position: relative
			flex: 2
			background: $color-panel
			margin-right: 3rem
			&__subfilter
				padding: 2rem 5rem
    		padding-top: 2.5rem
				border-bottom: 1px solid $color-panel-border
			&__list
				& li:last-child .watching__item
					border: none
			&__item
				padding: 1.6rem 5rem
				border-bottom: 1px solid $color-panel-border
			&__date
				color: $color-disactive
				margin-bottom: 0.7rem
				font-size: 1.2rem
			&__title
				color: $color-panel-text
				font-size: 1.9rem
				font-weight: bold
			&__icons
				display: flex
				margin-top: 1.6rem
			&__icon
				display: flex
				align-items: center
				color: $color-active
				margin-right: 2.2rem
			&__number
				font-size: 1.2rem
				margin-left: 1.2rem
			&__rating
				font-weight: bold
				font-size: 1.2rem
		.reclame
			flex: 1
			background: $color-panel

.footer
	background: $color-footer
	margin-top: 3rem
	&__inner
		display: flex
		justify-content: space-between
		padding: 4rem 0
	&__title
		text-transform: uppercase
		font-size: 1.6rem
		margin-bottom: 2rem
	&__list
		& li:last-child .footer__item
			margin-bottom: 0
	&__item
		margin-bottom: 1.8rem
		font-size: 1.3rem
		color: darken($color-panel-border, 10%)
		&:hover
			color: darken($color-panel-border, 30%)

.signature
	&__email
		cursor: pointer
		transform: translateY(-4px)
		display: block
		color: white
		font-size: 2rem
		padding: 0 2.2rem
		height: 5.5rem
		border-radius: 4px
		background: $color-active
		margin-top: 2rem
		box-shadow: 0 4px 0 darken($color-active, 20%)
		i
			margin-right: 1.5rem
		&:hover
			transform: translateY(-3px)
			box-shadow: 0 3px 0 darken($color-active, 20%)
		&:active
			transform: translateY(0)
			box-shadow: 0 0px 0 darken($color-active, 20%)