@import './config'




\:root
	--color-active: #3780ca
	--color-active_dark: #204d7b
	--color-yellow: #FFD700
	--color-white: white
	--color-grey: #bababa
	--color-grey_dark: #8c8c8c
	--color-grey_light: #ebebeb
	--color-on-grey: #6d6d6d
	--color-positive: #338550
	--color-negative: #bc2b2b




.main
	padding-top: 13.2rem
	&__inner
		display: flex
		justify-content: space-between	
		.sidebar
			.author
				position: relative
				background: $color-panel
				margin-top: 8.5rem
				+transform-sidebar()
				&__list
					padding: 2rem 0
				&__item
					position: relative
					color: $color-positive
					display: flex
					justify-content: space-between
					align-items: center
					padding: 2.5rem 3rem
					border-bottom: 2px solid $color-panel-border
					&:before
						content: ""
						position: absolute
						left: 0
						bottom: -2px
						height: 2px
						background: $color-positive
						width: var(--rating)
				&__info
					display: flex
					& > div
						display: flex
						flex-direction: column
						justify-content: space-between
						margin-left: 10px
				&__name
					color: $color-panel-text
					font-weight: bold
				&__rating
					font-weight: bold
					font-size: 1.8rem
				&__subscribe
					display: flex
					align-items: center
				&__number
					margin-left: 1rem
					font-size: 1.2rem


			



