@import './config'

\:root
	--color-active: #3780ca
	--color-active_dark: #204d7b
	--color-yellow: #FFD700
	--color-white: white
	--color-grey: #bababa
	--color-grey_dark: #8c8c8c
	--color-grey_light: #ebebeb
	--color-on-grey: #6d6d6d
	--color-positive: #338550
	--color-negative: #bc2b2b
	

.main
	padding-top: 13.2rem
	&__inner
		display: flex
		justify-content: space-between	
		.sidebar
			.author
				position: relative
				background: $color-panel
				margin-top: 8.5rem
				+transform-sidebar()
				&__list
					padding: 2rem 0
				&__item
					position: relative
					color: $color-positive
					display: flex
					justify-content: space-between
					align-items: center
					padding: 2.5rem 3rem
					border-bottom: 2px solid $color-panel-border
					&:before
						content: ""
						position: absolute
						left: 0
						bottom: -2px
						height: 2px
						background: $color-positive
						width: var(--rating)
				&__info
					display: flex
					& > div
						display: flex
						flex-direction: column
						justify-content: space-between
						margin-left: 10px
				&__name
					color: $color-panel-text
					font-weight: bold
				&__rating
					font-weight: bold
					font-size: 1.8rem
				&__subscribe
					display: flex
					align-items: center
				&__number
					margin-left: 1rem
					font-size: 1.2rem


			
.subfooter
	margin-top: 10rem
	position: relative
	&__inner
		display: flex
		position: relative
		&:before
			content: ''
			position: absolute
			top: -3rem
			left: -1.5rem
			right: -1.5rem
			height: 1px
			background: $color-panel	
		.watching
			position: relative
			flex: 2
			background: $color-panel
			margin-right: 3rem
			&__subfilter
				padding: 2rem 5rem
    		padding-top: 2.5rem
				border-bottom: 1px solid $color-panel-border
			&__list
				& li:last-child .watching__item
					border: none
			&__item
				padding: 1.6rem 5rem
				border-bottom: 1px solid $color-panel-border
			&__date
				color: $color-disactive
				margin-bottom: 0.7rem
				font-size: 1.2rem
			&__title
				color: $color-panel-text
				font-size: 1.9rem
				font-weight: bold
			&__icons
				display: flex
				margin-top: 1.6rem
			&__icon
				display: flex
				align-items: center
				color: $color-active
				margin-right: 2.2rem
			&__number
				font-size: 1.2rem
				margin-left: 1.2rem
			&__rating
				font-weight: bold
				font-size: 1.2rem
		.reclame
			flex: 1
			background: $color-panel

.footer
	background: $color-footer
	margin-top: 3rem
	&__inner
		display: flex
		justify-content: space-between
		padding: 4rem 0
	&__title
		text-transform: uppercase
		font-size: 1.6rem
		margin-bottom: 2rem
	&__list
		& li:last-child .footer__item
			margin-bottom: 0
	&__item
		margin-bottom: 1.8rem
		font-size: 1.3rem
		color: darken($color-panel-border, 10%)
		&:hover
			color: darken($color-panel-border, 30%)
