doctype html
html
  head
    block head
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Document</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet" />
      link(rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous")

  body
    .page
      include ~components/header/header
      main.main.index
        .container
          .main__inner
            block content
            include ~components/sidebar/sidebar
      block discuss
      include ~components/subfooter/subfooter
      include ~components/footer/footer
  
