mixin filter-post

	.filter-post&attributes(attributes)
		.filter-post__item.filter-post__item-active все подряд
		.filter-post__item лучшее
		.filter-post__item по авторам
		.filter-post__item по тегам